:root {
  /* Colors */
  --primary-color: #2E7D32;
  --accent-color: #A5D6A7;
  --main-background: #F1F8E9;
  --header-text-color: #F1F8E9;
  --main-text: #2f2f2f;
  --hover-highlight: #C8E6C9;

  /* Fonts */
  --header-font: "Montserrat", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: var(--main-background);
  font-family: var(--body-font);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer"; 
  min-height: 100vh;
}

header {
  position: relative;
  grid-area: header;
  background: var(--primary-color);
  font-family: var(--header-font);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.75rem, 2vw, 1.5rem) clamp(1rem, 5vw, 3rem);
}

.logo-container {
  z-index: 2;
  width: clamp(3rem, 5vw, 7rem);
  height: clamp(3rem, 5vw, 7rem);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unlogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-links {
  position: absolute;
  left: 50%;
  display: flex;
  gap: clamp(3rem, 6vw, 9rem);
}

.category {
  color: var(--header-text-color);
  text-decoration: none;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  transition: color 0.3s ease, text-shadow 0.3s ease;
  position: relative;
}

.category::after {
  background: var(--hover-highlight);
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.category:hover::after {
  transform: scaleX(1);
}

.category:hover {
  color: var(--hover-highlight);
  text-shadow: 0 0 2px var(--header-text-color);
}

.menu-wrapper {
  z-index: 2;
  text-align: right;
}

.menu-btn {
  border: none;
  background: none;
  color: var(--header-text-color);
  font-size: clamp(0.7rem, 1vw, 1rem);
  cursor: pointer;
  flex: 1;
  text-align: right;
}

.menu-btn:hover {
  color: var(--hover-highlight);
  text-shadow: 0 0 2px var(--header-text-color);
}

main {
  grid-area: content;
  background: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: clamp(2rem, 2.5vw, 3rem) clamp(6rem, 7vw, 8rem);
}

.services-wrapper,
.services-reversed {
  display: flex;
  width: 70%;
  min-height: 400px;
  margin: 0;
  padding: 0;
}


.services-reversed {
  flex-direction: row-reverse;
}

.services-images-container {
  flex: 1;        /* take all available space */
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.services-wrapper img,
.services-reversed img {
  margin: 0;
}

.services-images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.services-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-wrapper {
  padding: 2rem 3rem;
  text-align: center;
}

.services-info h1 {
  color: var(--primary-color);
}

.services-info p {
  color: var(--main-text);
}

.btn-offer {
  align-self: center;
  background: var(--accent-color);
  border: none;
  border-radius: 0.6rem;
  color: var(--main-text);
  font-weight: 600;
  margin: 0;
  padding: 0;
  align-self: center;
  padding: clamp(1rem, 2vw, 1.5rem)
           clamp(3rem, 2vw, 3.5rem)
           clamp(1rem, 2vw, 1.5rem)
           clamp(3rem, 2vw, 3.5rem);
  font-size: clamp(0.8rem, 2vw, 1rem);
  cursor: pointer;
}

.btn-offer-container {
  align-self: center;
}

.btn-offer:hover {
  cursor: pointer;
  animation: mainbutton 2s ease-in-out infinite;
}


footer {
  grid-area: footer;
  background: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(0.8rem, 1.5vw, 1rem);
}


@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    background: var(--primary-color);
    width: 200px;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    z-index: 4;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .menu-btn {
    display: block;
    font-size: 1rem;
  }

  .services-wrapper,
  .services-reversed {
    flex-direction: column;
    min-height: auto;
    width: 100%;
  }
  .services-images-container,
  .services-info {
    width: 100%;
  }

  .text-wrapper {
    padding: 0.8rem 1rem;
  }

  .services-info p {
    font-size: 0.9rem;
  }
  
}

@media (min-width: 769px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header"
    "content"
    "footer"; 
    min-height: 100vh;
  }
  
  .menu-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    box-shadow: none;
    background: none;
    flex-direction: row;
  }
}

@keyframes mainbutton {
  0% { 
    transform: scale(1);
    box-shadow: 0 0 5px var(--hover-highlight) 0 0 10px var(--hover-highlight) 0 0 15px var(--hover-highlight);
   }
  50% {
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--hover-highlight), 0 0 15px var(--hover-highlight), 0 0 20px var(--hover-highlight);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--hover-highlight), 0 0 10px var(--hover-highlight), 0 0 15px var(--hover-highlight);
  }
}
